{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% autoescape on %}

{% if post_meta %}
<title>{{ post_meta.title }} | {{ post_meta.term }} | {{ current_site.intro.name }}</title>
<meta name="description" content="{{ post_meta.summary }}"/>
<meta name="created" content="{{ post_meta.create|date:'Y-m-d H:i:s' }}"/>
<meta name="author" content="{{ post_meta.author }}"/>
<meta property="og:title" content="{{ post_meta.title }} | {{ post_meta.term }} | {{ current_site.intro.name }}"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="{{ post_meta.summary }}"/>
<meta property="og:locale" content="{{ LANGUAGE_CODE }}"/>
<meta property="og:image" content="https://{{ current_site.site.domain }}{{ post_meta.image.url }}"/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@edikartono" />
<meta name="twitter:title" content="{{ post_meta.title }} | {{ post_meta.term }} | {{ current_site.intro.name }}" />
<meta name="twitter:description" content="{{ post_meta.summary }}" />
<meta name="twitter:image" content="https://{{ current_site.site.domain }}{{ post_meta.image.url }}" />
{% endif %}

{% endautoescape %}