{% load i18n static django_seo_js %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% seo_js_head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block add_meta %}
    <title>{{ request.intro.name }} | {{ request.intro.subtitle }}</title>
    <meta name="description" content="{{ request.intro.desc }}"/>
    <link rel="canonical" href="https://{{ request.site.domain }}">
    <meta property="og:title" content="{{ request.intro.name }} {{ request.intro.subtitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ request.intro.desc }}"/>
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}"/>
    <meta property="og:image" content="https://{{ request.site.domain }}{{ request.intro.bg_image.url }}"/>
    {% endblock %}
    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'img/favicon.svg' %}" rel="icon" sizes="any" type="image/svg+xml">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.css" integrity="sha512-H0axURIL0aVKXvSdDPjG8ulhLGy/eVuL7BlKldIC6tmLGTNWRyDGeLmt9Zw3a5PTjNkxqx5ssqUSD9AiFbFhSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% block add_style %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'vendor/ionicons/css/ionicons.home.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <link
    rel="prefetch"
    as="style" onload="this.rel='stylesheet'"
    type="font/ttf" href="/static/CACHE/fonts/ionicons.ttf">
    {% endblock %}

    <!-- Template Main CSS File  -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
      body.swal2-shown > [aria-hidden="true"] {transition: 0.1s filter;filter: blur(10px);}
    </style>
    
    <script src="{% static 'js/lazysizes.min.js' %}" async="async"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.all.min.js" integrity="sha512-HL3ljb5fSrMMfAiRxSP+EdI/KC1kl6gVIzCV7GaJ4yFWCpnrcGxPAmytnKk9KNigFhyICxOlgD+uuaS07t7RdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Name: DevBlog - v0.0.1b -->
    <!-- =======================================================
        * Template Name: DevFolio - v2.3.0
        * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
</head>
<body>
    <!-- ======= Header/ Navbar ======= -->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll" href="{% url 'blog:index' %}">Edi Kartono</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link js-scroll" href="/#about">About</a>
            </li>
            {% for menu in main_menu %}
            <li class="nav-item">
              <a class="nav-link js-scroll" href="{{ menu.get_absolute_url }}">{{ menu.name }}</a>
            </li>
            {% endfor %}
            {% comment %}
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll" href="{% url 'product:lists' %}">Produk</a>
            </li> -->
            {% endcomment %}
          </ul>
        </div>
      </div>
    </nav>
  
    {% block page_intro %}
    <!-- ======= Intro Section ======= -->
    <div id="home" class="intro route bg-image lazyload" style="background-image: url('{{ request.intro.bg_image.url }}')">
    <div class="overlay-itro"></div>
    {% endblock %}
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            {% block intro_title %}
            <h1 class="intro-title mb-4">{{ request.intro.intro }}</h1>
            <p class="intro-subtitle"><span class="text-slider-items">{{ request.intro.subtitle }}</span><strong class="text-slider"></strong></p>
            {% endblock %}
            {% block breadcrumb %}{% endblock %}
          </div>
        </div>
      </div>
    </div><!-- End Intro Section -->
    
  
    <main id="main">
        {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    $(function(){
                        const elemnt = document.createElement('div');
                        elemnt.setAttribute('class', 'alert {{ message.tags }} alert-dismissible')
                        elemnt.innerHTML = '{{ message|safe|capfirst }}';
                        Swal.fire({
                            icon: '{{ message.tags|cut:"alert-" }}',
                            title: '{{ message.tags|cut:"alert-" }}',
                            html: elemnt,
                            timer: 5000,
                            timerProgressBar: true,
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            customClass: {
                                confirmButton: 'btn btn-{{ message.tags|cut:"alert-" }}',
                                popup: 'alert {{ message.tags }}'
                            }
                        })
                    })
                })
            </script>
        {% endfor %}
        {% endif %}
  
      {% block page_main %}
      <!-- ======= About Section ======= -->
      
      {% endblock %}
      
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="copyright-box">
              <div class="copyright">
                <div class="credits">                
                  <ul class="nav">
                    {% for page in page_menu %}
                    <li class="nav-item">
                      <a href="{{ page.get_absolute_url }}" class="nav-link">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a href="{% url 'core:cek_user' %}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'account_logout' %}" class="nav-link form-btn">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a href="{% url 'account_login' %}" class="nav-link form-btn">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>{{ request.intro.name }}</strong>. All Rights Reserved</p>
              <div class="credits">
                Template DevBlog v0.0.1b Fork of DevFolio - v2.3.0
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top"><span class="ion-chevron-up"></span></a>
    <div id="preloader"></div>
    <div id="myModal" class="modal" role="dialog"></div>
  
    
    {% block add_js %}
    <!-- Vendor JS Files -->
    <script defer src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script defer src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script defer src="{% static 'vendor/counterup/jquery.counterup.min.js' %}"></script>
    <script defer src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script defer src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
    <script defer src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <!-- Template Main JS File -->
    <script defer="defer" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
    
    {% block ext_js %}{% endblock %}
  </body>
  
</html>