{% load i18n static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="h2 modal-title">{{ text_form }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="alert alert-info">text</p>
            <form method="POST" id="myForm">
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% csrf_token %}
                {{ form.media }}
                {% if form.errors %}
                    <div class="container">
                        <div class="alert alert-danger alert-dismissible">
                            {% if errors|length == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                <i class="icon fa fa-ban"></i>{{ error|capfirst }}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% for field in form.visible_fields %}
                <div class="form-group row mb-4">
                    <label for="{{ field.id_for_label }}" class="col col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">                        
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text text-dark">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error | striptags }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>                    
                </div>
                {% endfor %}
                <div class="form-group row mb-4">
                    <div class="col col-form-label"></div>
                    <div class="col-sm-9">
                        <button class="large" style="background-color: rgb(0, 110, 255) !important; color: black !important;" type="submit">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        const frm = $('#myForm');
        $('body').one('submit', '#myForm', function(e){
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false
            }).done(function(data){
                Swal.fire({
                    title: "Sukses",
                    icon: 'success',
                    customClass: {
                        confirmButton: "btn btn-primary"
                    },
                    buttonsStyling: false,
                }).then(result => {
                    window.location.reload();
                });
            }).fail(function(xhr, textStatus, thrownError){
                const abc = xhr.responseText
                const swal_html = xhr.status == 404 ? '<p class="text-danger">' + abc.replace(/[^a-z0-9:]/gi,' ') + '</p>' + kwu : xhr.status == 500 ? abc : false;
                Swal.fire({
                    html: swal_html,
                    title: thrownError + ' : ' + xhr.status,
                    icon: 'warning'
                });
            })
        });
    })
</script>