{% extends 'admin/base_site.html' %}

{% load i18n %}
{% block page_title %}{% block title %}{% trans "My Profile Account" %}{% endblock %}{% endblock %}

{% block page_content %}
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            {% trans "My Profile Account" %}
        </div>
        <div class="card-body">
            {{ form.as_p }}
        </div>
        
        <div class="card-footer clearfix">
            {{ akun.username }}
        </div>
    </div>
</div>
{% endblock %}