{% extends 'core/base_site.html' %}
{% load static head_tags breadcrumbs widget_tweaks %}

{% block add_meta %}
{% post_detail_tag 'posts' 'Posts' blog.id %}
<link rel="canonical" href="{{ request.build_absolute_uri }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block add_style %}
<link
    rel="dns-prefetch"
    href="http://sumo.com">
<link
    rel="dns-prefetch"
    href="http://load.sumo.com">
<link
    rel="prefetch"
    as="style" onload="this.rel='stylesheet'"
    type="font/ttf"
    href="/static/CACHE/fonts/ionicons.ttf">

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css' %}">
<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/ionicons/css/ionicons.post.css' %}">

<style>
  .btn-comment {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .btn-comment:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .btn-comment:hover:after {
    opacity: .5;
  }

  .btn-comment:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .btn-comment:active:after {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .btn-comment {
      padding: 14px 22px;
      width: 176px;
    }
  }
</style>
{% endblock %}

{% block page_intro %}
<div
 class="intro intro-single route bg-image lazyload img-fluid"
 style="background-image: url('{{ blog.img_thumb.url }}')"
 data-safe-defer-class="lazyload">
<div class="overlay-mf"></div>
{% endblock %}
{% block intro_title %}<div class="intro-title mb-4">{{ blog.title }}</div>{% endblock %}

{% block breadcrumb %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb blog.term "." %}
  {% breadcrumb blog.title blog.slug %}
  {% render_breadcrumbs %}
{% endblock %}

{% block page_main %}
<!-- ======= Blog Single Section ======= -->
<section class="blog-wrapper sect-pt4" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
        <article role="article" about="{{ blog.get_absolute_url }}" typeof="schema:Article">
          <div class="post-box">
            <div property="schema:image" class="post-thumb cover-mobile">
              <img typeof="foaf:Image" width="640px" height="336px" data-src="{{ blog.image.url }}" data-sizes="auto" class="lazyload img-fluid" alt="{{ blog.title }}" data-safe-defer-class="lazyload">
            </div>
            <span property="schema:name" content="{{ blog.title }}" class="rdf-meta hidden"></span>
            <div class="post-meta">
              <h1 class="article-title">{{ blog.title|title }}</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span> <span rel="schema:author"><span lang="id" about="{{ blog.author }}" typeof="schema:Person" property="schema:name" datatype="">
                    <a href="#"> {{ blog.author }}</a></span></span>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  <a href="#"> {{ blog.term }}</a>
                </li>
                <li>
                  <span class="ion-calendar"></span> <span property="schema:dateCreated" content="{{ blog.create }}">  {{ blog.create | date:'d M Y H:i:s T' }}</span><span property="schema:dateModified" content="{{ blog.update }}" class="rdf-meta hidden"></span>
                </li>
              </ul>
            </div>
            
            <div class="article-content line-numbers" property="schema:text">
              {{ blog.body | safe }}
            </div>
          </div>
          
          <div class="row mb-4">
            <div class="col-12 text-center">
              <button type="button" value="{% url 'akun:comment_make' %}?room={{ hash }}&blog={{ blog.get_absolute_url }}" class="btn btn-primary btn-comment comment"><span class="ion-chatbubble"></span> Comment</button>
              <button type="button" value="{% url 'akun:comment_view' hash %}" id="id-comments" class="btn btn-primary btn-comment"><span class="ion-chatbubbles"></span> Lihat komentar</button>
            </div>
          </div>

        </article>
      </div><!--/col-md-8-->
      
      <div class="col-md-4">
        {% include 'block/sidebar.html' %}

        <div class="widget-sidebar widget-tags">
          <h5 class="sidebar-title">Lainnya pada {{ blog.term }}</h5>
          <div class="sidebar-content">
            <ul>
              {% for ra in related_post %}
              <li>
                <a href="{{ ra.get_absolute_url }}">{{ ra.title|title }}</a>
              </li>
              {% empty %}
              <li>
                <a>Belum ada artikel lainnya pada {{ blog.term|title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% include 'block/subscribe.html' %}
        
      </div>
    </div>
  </div>
</section><!-- End Blog Single Section -->
{% endblock %}

{% block add_js %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}" ></script>
<script defer src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}" ></script>
<script defer src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}" ></script>
<script defer src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}" ></script>
<script defer src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}" ></script>
<script defer src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>
  <!-- Template Main JS File -->
<script defer src="{% static 'js/custom.js' %}"></script>
<script defer>hljs.initHighlightingOnLoad();</script>

<script defer>
  $(document).ready(function(){
    $('.comment').on('click', function(e){
      e.preventDefault();
      const xyz = $(this).val();
      $.ajax({
        async: true,
        url: xyz
      }).done(function(data){
        $('#myModal').on('shown.bs.modal', function(){
          $('#myModal').html(data);
          $('#myForm').attr('action', xyz);
        });
        $('#myModal').modal('show');
      })
    });

    const id_comments = function idComments(e){
      e.preventDefault();
      const cmt_url = $(this).val();
      $.ajax({
        async: true,
        url: cmt_url
      }).done(function(data){
        let title = '<p class="comment-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></p>';
        $('#myModal').on('shown.bs.modal', function(){
          $('#myModal').html(data);
          $('.comment-count').before(title)
        });
        $('#myModal').modal({
          show: true,
          backdrop: 'static'
        });
      }).fail(function(xhr, textStatus, thrownError){
        console.log(xhr.responseText);
      });
    }

    function getUrlParam(){
      let pageUrl = window.location.href;
      if (pageUrl.split('?')[1]){
        let argsPar = pageUrl.split('?')[1].split('=');
        argsPar.shift();
        jQuery(function(){
          jQuery('#id-comments').click();
        });
        
        $('#myModal').on('shown.bs.modal', function(e){
          setTimeout( function(){
            const spanId = $('div#id-'+argsPar)
            $('#myModal').animate({
              scrollTop: spanId.offset().top
            })
            spanId.addClass('alert alert-warning')
          }, 500);
        })
      }
    };

    getUrlParam();
    $('#id-comments').on('click', id_comments);
  });
</script>
{% endblock %}