{% load static %}
<!-- <div class="col">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col">
                {{ form }}
            </div>
            {% endfor %}
        
            <div class="col">
                <input type="submit" value="Filter" class="btn btn-primary">
            </div>
        </div>
    </form>
</div> -->
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'vendor/sweetalert2/sweetalert2.min.css' %}">
{% endblock %}

<div class="col-12">
    <p>Folder Count: {{ folders.count }}</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Blacklisted</th>
                <th>Subscribers</th>
                <th>Unique Subscribers</th>
            </tr>
        </thead>
        <tbody>
            {% for fdr in folders.folders %}
            <tr>
                <td>
                    <button type="button" value="{% url 'sibmail:get_linfold' fdr.id %}" class="btn btn-link in-folder">
                        {{ fdr.name }}
                    </button>
                    </td>
                <td>{{ fdr.totalBlacklisted }}</td>
                <td>{{ fdr.totalSubscribers }}</td>
                <td>{{ fdr.uniqueSubscribers }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block extrajs %}
<script src="{% static 'vendor/sweetalert2/sweetalert2.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.in-folder').on('click', function(e){
            e.preventDefault();
            const url = $(this).val();
            $.ajax({
                url: url
            }).done(function(respon){
                Swal.fire({
                    title: 'List in folder',
                    html: respon,
                    width: 'max-content'
                })
            })
        })
    })
</script>
{% endblock %}